/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
    color: rgb(0, 0, 0);
}
.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.dropdown-menu{

  border-top-width: 12px;
  border-right-width: 3px;
  border-left-width: 3px;
  border-bottom-width: 3px;

  padding-bottom: 8px;

  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  margin-top: 0px;
  
  left: -6px;
  top: 35px;
  right: 40px;
  opacity: 0.7;
  
}
h2{
    color:red;
    text-align: center;
}
